<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">Metrica AtE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link ml-2" href="/casoteste">Caso teste</a>
                <a class="nav-item nav-link ml-2" href="/programa_o">Programa O</a>
                <a class="nav-item nav-link ml-2" href="/programa_p">Programa P</a>
                <a class="nav-item nav-link ml-2" href="/caminho">Caminho</a>
                <a class="nav-item nav-link ml-2" href="/testemesa">teste mesa</a>
            </div>
        </div>
    </div>
</nav>