<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Inserir Caso Teste</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- jQuery para form Modal  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- fim jQuery para form Modal  -->
</head>

<body class="container" style="margin-top: 50px;">

    <% if (messages.error) { %>
        <div class="alert alert-danger" role="alert">
            <%- messages.error %>
        </div>
        <% } %>

            <div class="card">
                <div class="card-header"> Inserir ProgramaO</div>
                <div class="card-body">

                    <form action="/casoteste/adicionar" method="post">
                        <label>dt_codificacao:</label>
                        <!-- Select com dados do bd tabela CATEGORIA - UM-PARA-MUITOS -->
                        <select class="form-control form-control-sm" id="Lista_p" name="select">
                            <% for (var i=0; i < dataP.length; i++) { %>
                                <option value="<%= dataP[i].idprogramap %>">
                                    <%= dataP[i].idprogramap %>
                                </option>
                                <% } %>
                        </select>
                        <br>
                        <input type="submit" class="btn btn-warning" value="Inserir" />

                        <!-- !!!!! Redirecionamento do botão voltar consertado !!!!!!! -->

                        <a type="button" class="btn btn-dark" href="http://localhost:3000/casoteste/">Voltar</a>
                    </form>
                </div>
            </div>
</body>

</html>